<div fxLayout="column" fxLayoutAlign="start">
  <form #AddCity="ngForm" (ngSubmit) = "addNewCity(AddCity)" fxFlex="glow">
    <mat-form-field fxFlex="glow"> 
      <div  fxLayout="row" fxLayoutAlign="end">  
        <input type="text" name = "city" placeholder = "Add New City." ngModel matInput fxFlex="glow">
        <div>
          <button type = "submit" mat-raised-button color="primary"> Add </button>
        </div>
      </div>
    </mat-form-field>
  </form>
    <div  *ngFor="let n of citylist">
      <mat-card class = "addMargin">
        <mat-card-content>
          {{n}}
        </mat-card-content>
      </mat-card>
    </div>
</div>